{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      {% if skill.level %}
      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2c3eb209-2631-4c13-82cb-b36048fa0f14" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

</section><!--//skills-section-->
{% endif %}
